@import 'variables';
.contact {
    max-width: 60vw;
    margin: 0 auto;
    padding: 5vh;
}

.form-group {
    margin-bottom: 3vh;
}

label {
    display: block;
    margin-bottom: 1vh;
    font-weight: 550;
    font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select{
    width: 20vw;
    padding: 1vh;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submitted {
    color: #EB8A3F;
    margin-top: 2vh;
    font-style: italic;
}