@import 'variables';

body {
    background-color: $background-color;
    margin: 0;
    padding: 2vh;
    font-family: 'Proxima Nova','Open Sans','Arial','sans-serif',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.landing {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    padding: 5vh 5vw 5vh 5vw;
}

.header {
    font-family: 'Indie Flower', cursive;
    font-size: 5vh;
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 5vh 5vw 5vh 5vw;
    color: $font-color
}

.tab-container {
    display: flex;
    justify-content: right;
    padding: 4vh 2vw 4vh 2vw;
}

.tab {
    margin-left: 2vh;
}

.main-content {
    padding: 4vh 2vw 4vh 2vw;
    flex: 1;
}

button.tab {
    border: none;
    cursor: pointer;
    background-color: $background-color;
    color: $font-color;
    font-size: 1em;
    font-weight: 600;
    transition: color 0.3s;
    position: relative;
    /* Make the button a positioned element */
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: $underline-color; // Change to your desired underline color
        transition: width 0.3s;
    }

    &:hover {
        color: $underline-color; // Change to your desired text color on hover

        &::before {
            width: 100%;
        }
    }
}

button.submit {
    margin-top: 1vh;
    padding: 0.8vh;
    font-size: 1em;
    font-weight: 550;
    border-radius: 0.5vh;
    border: 2px solid $underline-color;
    border-color: $underline-color;
    background-color: $background-color;
    &:hover {
        cursor: pointer;
        background-color: $underline-color; // Change to your desired text color on hover
    }
}